doctype html
html
  head
    head
      link(rel="stylesheet", href="css/style.css")
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours || #{tour}
  
  body
    h1=tour
    h2=user.toUpperCase()

    -const x = 9
    h1=x
    p This actually works     
